.small {
    width: 10rem;
    border: none !important;
}

.small img {
    height: 10rem;
}

.medium {
    width: 26rem;
    border: none !important;
}

.medium img {
    height: 11rem;
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-body {
    border: none;
}