body {
    /* margin: 0px; */
    max-width: 100vw;
    /* height: 100vh; */
    font-family: sans-serif;
    /* color: white; */
}


.grid-center {
    display: grid;
    place-items: center;
}

.item {
    background-color: aquamarine;
    height: 150px;
    width: 150px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}

.icon {
    font-size: 2rem;
}



/* CARD */
.profile-card-6 {
    max-width: 200px;
    max-height: 200px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    /* font-weight: bold; */
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}

.profile-card-6:hover .profile-overview svg {
    color: #1C796E;
    font-size: 2rem;
    transition: 0.3s;
}