.cardSmall {
    width: 11rem;
    border: none !important;
}

.cardBig {
    width: 26rem;
    border: none !important;
}

.card-img-big {
    height: 11rem;
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.card-body {
    border: none;
}